.sectionTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 2.63rem;
  font-weight: 600;
  font-family: inherit;
}
.image1Icon {
  position: relative;
  border-radius: var(--br-base);
  width: 9.38rem;
  height: 9.38rem;
  flex-shrink: 0;
  object-fit: cover;
}
.description1,
.eiffelTower {
  align-self: stretch;
  position: relative;
}
.eiffelTower {
  line-height: 1.75rem;
  font-weight: 600;
}
.description1 {
  font-size: var(--body-medium-regular-size);
  line-height: 1.5rem;
}
.vstack {
  flex: 1;
  flex-direction: column;
}
.attractionCards,
.card,
.card1,
.vstack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card,
.card1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 0;
  gap: var(--gap-base);
}
.attractionCards {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.mapViewIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.attractionSection,
.container {
  display: flex;
  justify-content: flex-start;
}
.container {
  width: 75rem;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-heading-3-size);
  color: var(--light-text-txt-primary1);
}
.attractionSection {
  align-self: stretch;
  background-color: var(--shared-white1);
  flex-direction: column;
  padding: var(--padding-21xl) 0 var(--padding-61xl);
  align-items: center;
  gap: var(--gap-21xl);
}
.imageIcon {
  flex: 1;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divider,
.imageIcon,
.theCapitalCity {
  align-self: stretch;
  position: relative;
}
.theCapitalCity {
  line-height: 1.5rem;
}
.divider {
  border-top: 1px solid var(--light-divider-line-line-inactive);
  box-sizing: border-box;
  height: 0.06rem;
  flex-shrink: 0;
}
.paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.hoursBehind {
  position: relative;
  line-height: 1.5rem;
}
.time,
.vstack3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.time {
  flex-direction: row;
  gap: var(--gap-base);
}
.bestTimeTo {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.timeAndCurrency {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.paris {
  position: relative;
  line-height: 1.75rem;
  font-weight: 600;
}
.march152023 {
  position: relative;
  font-size: var(--body-medium-regular-size);
  line-height: 1.5rem;
}
.ferenheit,
.vstack6 {
  flex-direction: column;
}
.vstack6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ferenheit {
  padding: var(--padding-9xs) var(--padding-7xs);
}
.celcius,
.ferenheit,
.unitToggle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.celcius {
  border-radius: 2px;
  background-color: var(--light-text-txt-primary1);
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-7xs);
  color: var(--shared-white1);
}
.unitToggle {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.div {
  position: relative;
  font-size: 5.63rem;
  line-height: 7.5rem;
  font-weight: 300;
  text-align: right;
}
.temperature,
.temperatureWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.temperature {
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--body-medium-regular-size);
}
.temperatureWrapper {
  align-self: stretch;
  justify-content: space-between;
}
.div1,
.now {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  width: 3.13rem;
}
.div1 {
  font-weight: 600;
}
.now {
  font-size: var(--body-medium-regular-size);
}
.hourlyForcast {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.forcastWrapper,
.weatherWrapper {
  align-self: stretch;
  justify-content: flex-start;
}
.forcastWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--heading-heading-41-size);
}
.weatherWrapper {
  flex-direction: column;
  font-size: var(--heading-heading-3-size);
}
.container1,
.contentWrapper,
.weatherWrapper {
  display: flex;
  align-items: flex-start;
}
.contentWrapper {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.container1 {
  width: 75rem;
  height: 31.75rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--light-text-txt-primary1);
}
.imageIcon1 {
  position: relative;
  border-radius: var(--br-base);
  width: 18.75rem;
  height: 18.75rem;
  flex-shrink: 0;
  object-fit: cover;
}
.featuredReading,
.publishedJanuary3 {
  align-self: stretch;
  position: relative;
  line-height: 1.25rem;
}
.featuredReading {
  font-weight: 600;
}
.publishedJanuary3 {
  color: var(--wego-light-text-icon-secondary1);
}
.title,
.vstack11 {
  align-self: stretch;
}
.vstack11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-small-bold1-size);
}
.title {
  position: relative;
  font-size: var(--heading-heading-2-size);
  line-height: 2.63rem;
  font-weight: 600;
}
.avatarIcon {
  position: relative;
  border-radius: var(--br-5xl);
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
  object-fit: cover;
}
.juanaLewis {
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.author,
.juanaLewis,
.writer {
  align-self: stretch;
}
.writer {
  position: relative;
  font-size: var(--body-small-bold1-size);
  line-height: 1.25rem;
  color: var(--wego-light-text-icon-secondary1);
}
.author {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.readNow,
.withIncredibleMuseums {
  position: relative;
  line-height: 1.5rem;
}
.withIncredibleMuseums {
  align-self: stretch;
  color: var(--wego-light-text-icon-secondary1);
}
.readNow {
  text-decoration: underline;
  font-weight: 600;
}
.contentWrapper1,
.textButton {
  align-self: stretch;
  align-items: flex-start;
}
.textButton {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
  justify-content: flex-start;
  text-align: center;
}
.contentWrapper1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.container2,
.contentWrapper1,
.featuredSection {
  display: flex;
  justify-content: flex-start;
}
.container2 {
  width: 56.25rem;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.featuredSection {
  align-self: stretch;
  background-color: var(--palette-neutrals-1001);
  flex-direction: column;
  padding: var(--padding-45xl) 0;
  align-items: center;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--light-text-txt-primary1);
}
.badalona {
  position: relative;
  line-height: 1.25rem;
}
.badalonaParent,
.destinationLocofy,
.nearbySection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.badalonaParent {
  width: 75rem;
  flex-direction: row;
  gap: var(--gap-base);
  flex-wrap: wrap;
  font-size: var(--body-small-bold1-size);
}
.destinationLocofy,
.nearbySection {
  background-color: var(--shared-white1);
  flex-direction: column;
}
.nearbySection {
  align-self: stretch;
  padding: var(--padding-21xl) 0 var(--padding-61xl);
  gap: var(--gap-base);
  flex-wrap: wrap;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--color-gray-100);
}
.destinationLocofy {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: var(--heading-heading-11-size);
  color: var(--color-black);
  font-family: var(--heading-heading-11);
}
@media screen and (max-width: 1200px) {
  .container,
  .container1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .badalonaParent,
  .container,
  .container1,
  .nearbySection {
    align-self: stretch;
    width: auto;
    box-sizing: border-box;
  }
  .badalonaParent {
    padding-left: var(--padding-xl);
    padding-top: 0;
    padding-right: var(--padding-xl);
  }
  .nearbySection {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
  }
}
@media screen and (max-width: 960px) {
  .attractionCards,
  .mapViewIcon {
    flex: unset;
    align-self: stretch;
  }
  .mapViewIcon {
    max-height: 12.5rem;
  }
  .container {
    align-self: stretch;
    width: auto;
    flex-direction: column;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contentWrapper,
  .imageIcon {
    flex: unset;
    align-self: stretch;
  }
  .imageIcon {
    max-height: 18.75rem;
  }
  .contentWrapper {
    gap: var(--gap-base);
  }
  .container1,
  .container2 {
    align-self: stretch;
    width: auto;
  }
  .container1 {
    height: auto;
    flex-direction: column;
  }
  .container2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .sectionTitle {
    font-size: var(--heading-heading-2-size);
  }
  .image1Icon {
    width: 7.5rem;
    height: 7.5rem;
  }
  .attractionCards,
  .mapViewIcon {
    flex: unset;
    align-self: stretch;
  }
  .container {
    flex-direction: column;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .imageIcon {
    flex: unset;
    align-self: stretch;
  }
  .timeAndCurrency {
    padding-top: var(--padding-base);
    padding-bottom: var(--padding-base);
    box-sizing: border-box;
  }
  .forcastWrapper,
  .timeAndCurrency {
    flex-direction: column;
  }
  .contentWrapper {
    flex: unset;
    align-self: stretch;
  }
  .container1 {
    height: auto;
    flex-direction: column;
  }
  .imageIcon1 {
    flex: 1;
    align-self: stretch;
    height: auto;
    min-width: 100%;
    max-height: 12.5rem;
  }
  .contentWrapper1 {
    flex: unset;
    align-self: stretch;
  }
  .container2 {
    align-self: stretch;
    width: auto;
    flex-direction: column;
  }
  .badalonaParent,
  .container2 {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 640px) {
  .contentWrapper1 {
    flex: unset;
    align-self: stretch;
  }
  .container2 {
    align-self: stretch;
    width: auto;
    flex-direction: column;
  }
}
